.grid-column-group {
  border: solid 1px;
  border-bottom: none;
  border-right: none;
  border-color: var(--bg-grid-border);

  display: grid;
  grid-template-columns: 24px 1fr 24px 24px;
  grid-template-rows: 1fr;
  width: 100%;

  overflow: hidden;

  padding: .3rem;
}

.grid-column-group:last-of-type {
  border-right: solid 1px;
  border-color: var(--bg-grid-border);
}

.expand-left {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.group-label-full {
  grid-row: 1 / 1;
  grid-column: 2 / 4;

  overflow: hidden;
}

.expand-left, .expand-right, .split{
  height: 100%;
}

.group-label-split {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  overflow: hidden;
}

.group-label-split, .group-label-full {
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 800;

  outline: none;
}

.split {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
  transform: rotate(90deg);
}

.expand-right {
  grid-row: 1 / 1;
  grid-column: 4 / 4;
}
