<button class="grid-button expand-left" (click)="expandLeft()"><i class="bi bi-chevron-left"></i></button>
<span class="group-label-split" contenteditable="true" *ngIf="grid.columnsGroup[rowIndex][columnIndex].colSpan > 1">{{grid.columnsGroup[rowIndex][columnIndex].label}}</span>
<span class="group-label-full" contenteditable="true" *ngIf="grid.columnsGroup[rowIndex][columnIndex].colSpan === 1">{{grid.columnsGroup[rowIndex][columnIndex].label}}</span>
<button class="grid-button split" (click)="split()" *ngIf="grid.columnsGroup[rowIndex][columnIndex].colSpan > 1"><i class="bi bi-arrows-expand"></i></button>
<button class="grid-button expand-right" (click)="expandRight()"><i class="bi bi-chevron-right"></i></button>
