.grid-resizer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5px;
  height: 100%;
  z-index: 5;
  transform: translateX(4px);
  cursor: col-resize;
}

.grid-resizer:hover {
  background-color: rgba(0,0,0,.4);
}
