<div class="grid-header">
  <button (click)="addColumnGroupRow()">Ajouter un groupe de colonne<i class="bi bi-plus"></i></button>
</div>
<div class="grid-wrapper" [ngStyle]="{'grid-template-columns': gridTemplateColumns, 'grid-template-rows': gridTemplateRows}">
  <div class="grid-header-columns">
    <div class="grid-row grid-row-columns-group" *ngFor="let columnsGroup of grid.columnsGroup; let row = index">
      <grid-column-group *ngFor="let columns of columnsGroup; let col = index" [rowIndex]="row" [columnIndex]="col" [grid]="grid" [ngStyle]="{width: grid.columnsGroup[row][col].width+'px'}"></grid-column-group>
    </div>
    <div class="grid-row">
      <grid-column *ngFor="let columns of grid.columns; let c = index" [cellIndex]="c" [grid]="grid" [ngStyle]="{width: grid.columns[c].width+'px'}"></grid-column>
    </div>
  </div>
  <div class="grid-body-columns">
    <grid-group *ngFor="let group of grid.dataGroup"></grid-group>
    <grid-data-row *ngFor="let data of grid.data; let row = index" [(gridData)]="this.grid.data[row]" [columns]="grid.columns"></grid-data-row>
  </div>
</div>
<div class="grid-footer">

</div>
