.grid {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--primaire);
}

.grid-wrapper {
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: grid;
}

.grid-row {
  white-space: nowrap;
  background-color: var(--bg-grid-header);
  overflow: hidden;
  display: flex;
}

.grid-header-columns {
  position: sticky;
  top: 0;
}

.grid-body-columns {
  height: 270px;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-grid-body);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--bg-grid-header); /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: var(--primaire);
    border-radius: 100vh;
}

.grid-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.grid-button:hover {
  color: var(--primaire);
}
