.grid-data {
  display: inline-block;
  height: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: .3rem;
  user-select: none;
  border: solid 1px;
  border-right: none 1px;
  border-color: var(--bg-grid-border);
  border-top: none;

  color: rgb(65, 64, 64);
}

.grid-data:last-of-type {
  border-right: solid 1px;
}

