<div class="grid-column-container">
  <!-- Only first label -->
  <div  *ngIf="grid.columns[cellIndex].label
          && grid.columns[cellIndex].secondLabel === undefined
          && grid.columns[cellIndex].thirdLabel === undefined
          && grid.columns[cellIndex].fourthLabel === undefined"
        class="grid-column-full-label">
      {{grid.columns[cellIndex].label}}
  </div>

  <!-- First & Second label-->

  <div  *ngIf="(grid.columns[cellIndex].label
          && grid.columns[cellIndex].secondLabel
          && grid.columns[cellIndex].thirdLabel === undefined
          && grid.columns[cellIndex].fourthLabel === undefined) ||
          (grid.columns[cellIndex].label
          && grid.columns[cellIndex].secondLabel === undefined
          && grid.columns[cellIndex].thirdLabel
          && grid.columns[cellIndex].fourthLabel)"
        class="grid-column-label-top">
        {{grid.columns[cellIndex].label}}
  </div>


  <div  *ngIf="grid.columns[cellIndex].label
          && grid.columns[cellIndex].secondLabel
          && grid.columns[cellIndex].thirdLabel === undefined
          && grid.columns[cellIndex].fourthLabel === undefined"
        class="grid-column-label-bottom">
        {{grid.columns[cellIndex].secondLabel}}
  </div>

  <div  *ngIf="grid.columns[cellIndex].thirdLabel"
        class="grid-column-label-third">
        {{grid.columns[cellIndex].thirdLabel}}
  </div>

  <div  *ngIf="grid.columns[cellIndex].thirdLabel"
    class="grid-column-label-fourth">
    {{grid.columns[cellIndex].fourthLabel}}
  </div>

  <!--  <div class="grid-column-container-2"
    *ngIf="grid.columns[cellIndex].label
            && grid.columns[cellIndex].secondLabel
            && grid.columns[cellIndex].thirdLabel === undefined
            && grid.columns[cellIndex].fourthLabel === undefined">

    <div class="grid-column-label top">
      {{grid.columns[cellIndex].label}}
    </div>
    <div class="grid-column-label bottom">
      {{grid.columns[cellIndex].secondLabel}}
    </div>
  </div>
-->
  <button class="grid-button grid-column-delete">
    <i class="bi bi-x"></i>
  </button>
  <button class="grid-button grid-column-options">
    <i class="bi bi-chevron-down"></i>
  </button>
</div>
<grid-resizer (mousedown)="resizeStart()"></grid-resizer>
