.grid-column {
  position: relative;
  display: inline-block;
  font-weight: 800;
  cursor: pointer;
  padding: .3rem;
  border: solid 1px;
  border-right: none 1px;
  border-color: var(--bg-grid-border);
  background-color: var(--bg-grid-header-cell);
  user-select: none;
}

.grid-column:last-of-type {
  border-right: solid 1px;
}

.grid-column-container {
  display: grid;
  grid-template-columns: 1fr 1fr 24px;
  grid-template-rows: 24px 24px;
}

.grid-column-full-label, .grid-column-label-top, .grid-column-label-bottom, .grid-column-label-third, .grid-column-label-fourth {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.grid-column-label-top, .grid-column-label-bottom, .grid-column-label-third, .grid-column-label-fourth {
  text-align: center;
}

.grid-column-full-label {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  text-align: center;
  margin-block: auto;
}

.grid-column-label-top {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

.grid-column-label-bottom {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}

.grid-column-label-third {
  grid-column: 1 / 1;
  grid-row:  2/ 2;
}

.grid-column-label-fourth {
  grid-column: 2 / 2;
  grid-row:  2/ 2;
}

.grid-column-delete {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}

.grid-column-options {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
}
