/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');


:root {
  --bg-grid-body: #fff;
  --bg-grid-header: #eee;
  --bg-grid-header-cell: #eee;
  --bg-grid-border: rgba(0,0,0,.3);

  --primaire: rgb(26, 99, 158);
}

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif
}
